.layout-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header-box {
    background-color: #ffffff;
    height: $headerHeight;
    @include flex(space-between);
    .logo {
      padding: 0 24px;
      span {
        margin-left: 6px;
        font-size: 21.5px;
        font-weight: bold;
        color: #303133;
      }
    }
  }

  .body-box {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: start;

    .sider {
      // 解决菜单收起时el-menu会变窄的bug
      flex-shrink: 0;
      background-color: #001529;
      transition: all 0.2s;
      .menu {
        height: calc(100vh - $headerHeight - 40px);
      }
      .collapse-wrap {
        height: 40px;
        display: flex;
        align-items: center;
        color: var(--el-color-primary);
        box-shadow: 0 0 6px -3px var(--el-color-primary);
      }
    }

    .tabs-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: calc(100vh - $headerHeight);
    }
  }
}
