public
dist
*.d.ts
/src/assets
package.json
eslint.config.js 
.prettierrc.js
commitlint.config.js
postcss.config.js
tailwind.config.ts
stylelint.config.js

*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
/docs
.husky
.local
/bin
/src/mock/*
stats.html

