.layout-box {
  // 解决关闭全屏时, Y轴出现滚动条
  height: 100vh;
  overflow: hidden;

  :deep(.el-sub-menu .el-menu-item) {
    background-color: #0c2135 !important;
  }

  :deep(.el-menu--vertical .el-menu .el-sub-menu__title) {
    background-color: #0c2135 !important;
  }

  :deep(.el-menu-item:hover) {
    color: #ffffff;
  }

  :deep(.el-menu-item.is-active) {
    background-color: var(--el-color-primary) !important;
  }

  .sider {
    height: 100vh;
    background-color: #001529;
    transition: all 0.2s;

    .logo {
      height: $headerHeight;
      border-bottom: 1px solid #282a35;
      overflow: hidden;
      background-color: #001529;
      box-sizing: border-box;

      span {
        margin-left: 6px;
        font-size: 21.5px;
        font-weight: bold;
        color: #dadada;
      }
    }

    :deep(.menu) {
      height: calc(100vh - $headerHeight);

      .el-menu {
        border-right: none;
      }
    }
  }

  .right-layout {
    .header {
      background-color: #ffffff;
      height: $headerHeight;
      line-height: $headerHeight;
      padding: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 700;
      transition: all 0.2s;
    }

    .content {
      min-height: calc(100vh - $headerHeight - $tabHeight);
      margin-top: $headerHeight + $tabHeight;
      padding: 0;
    }
  }
}
