.layout-box {
  display: flex;
  // 解决关闭全屏时, Y轴出现滚动条
  height: 100vh;
  overflow: hidden;

  .sider {
    height: 100vh;
    background-color: #001529;
    transition: all 0.2s;
    // 解决打开全屏时, 菜单栏 Y轴 出现滚动条
    overflow: hidden;

    .logo {
      height: $headerHeight;
      border-bottom: 1px solid #282a35;
      overflow: hidden;
      background-color: #001529;
      box-sizing: border-box;

      span {
        margin-left: 6px;
        font-size: 21.5px;
        font-weight: bold;
        color: #dadada;
      }
    }

    :deep(.menu) {
      height: calc(100vh - $headerHeight);

      .el-menu {
        border-right: none;

        > .el-menu-item,
        .el-sub-menu__title {
          height: 50px;
          line-height: 50px;
        }
      }

      .el-sub-menu .el-menu-item {
        background-color: #0c2135 !important;
      }

      .el-menu--vertical .el-menu .el-sub-menu__title {
        background-color: #0c2135 !important;
      }

      .el-menu-item:hover {
        color: #ffffff;
      }

      .el-menu-item.is-active {
        background-color: var(--el-color-primary) !important;
      }

      // 解决菜单收起图标不显示的bug
      .el-menu--collapse {
        .el-menu-tooltip__trigger,
        .el-sub-menu__title {
          padding: 0;
          justify-content: center;
        }
      }
    }
  }

  .right-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;

    > .header {
      background-color: #ffffff;
      height: $headerHeight;
      padding: 0;
    }

    > .content {
      flex: 1;
      background-color: $mainBgColor;
      // 防止切换路由时出现 x y 轴的滚动条
      overflow-x: hidden;
    }
  }
}
