html.dark {
  $border-color: var(--el-border-color-light);
  $text-color: var(--el-text-color-primary); // #e5eaf3

  .layout-box,
  .header,
  .tabs-box {
    background-color: var(--pear-dark-2) !important;
  }

  #sider {
    background-color: var(--pear-dark-1) !important;

    > .logo {
      background-color: var(--pear-dark-1) !important;
    }

    // 菜单栏暗黑模式适配
    .el-sub-menu .el-menu-item,
    .el-menu--vertical .el-menu .el-sub-menu__title {
      background-color: #2d2d2d !important;
    }

    .el-menu-item.is-active {
      background-color: var(--el-color-primary) !important;
    }
  }

  .page-box {
    background-color: var(--pear-dark-2) !important;
  }

  .tabs-box {
    .el-dropdown span {
      color: #c9d1d9 !important;
    }

    .is-active .el-dropdown span {
      color: $text-color !important;
    }
  }

  .header .el-breadcrumb__item {
    .link {
      color: rgba(255, 255, 255, 0.8) !important;

      &:hover {
        color: var(--el-color-primary) !important;
      }
    }

    .el-breadcrumb__separator {
      color: rgba(255, 255, 255, 0.8);
    }

    .text {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .header-icon {
    color: var(--el-text-color-regular) !important;
  }

  .wang-editor {
    filter: invert(0.9) hue-rotate(180deg);
  }

  // 返回顶部按钮
  .el-backtop {
    --el-backtop-bg-color: rgb(72 72 78);
    --el-backtop-hover-bg-color: var(--el-color-primary);
    transition: background-color 0.25s cubic-bezier(0.7, 0.3, 0.1, 1);
  }
}
