@import './reset.scss';
@import './common.scss';
@import './dark.scss';
@import './transition.scss';
@import './element.scss';

@import '../assets/fonts/index.scss';

body {
  font-size: 14px;
}

button:focus {
  outline: none;
}
