@import './reset.scss';
@import './common.scss';
@import './dark.scss';
@import './transition.scss';
@import './element.scss';

@import '../assets/fonts/index.scss';

body {
  font-size: 14px;
  font-family:
    v-sans,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

button:focus {
  outline: none;
}
