.el-drawer {
  .el-drawer__header {
    padding: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--el-border-color-lighter);

    span {
      font-size: 17px;
      line-height: 17px;
      color: var(--el-text-color-primary) !important;
    }
  }

  .el-drawer__footer {
    padding: 16px;
    border-top: 1px solid var(--el-border-color-lighter);
  }
}
